@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,900);
.tablet-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1);
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: "nav nav nav nav" "main main main main" "about about about sidebar" "contact contact contact sidebar" "footer footer footer footer";
  gap: 0.5rem;
}

.desktop-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1);
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: "nav nav nav nav" "main main main main" "about about about sidebar" "contact contact contact sidebar" "footer footer footer footer";
  gap: 0.5rem;
}

.large-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1);
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: "nav nav nav nav" "main main main main" "about about about sidebar" "contact contact contact sidebar" "footer footer footer footer";
  gap: 0.5rem;
}

.navigation {
  background-color: black;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/133/827/615/minimalism-star-wars-death-star-wallpaper-preview.jpg");
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}
.navigation .navigation__list {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation .navigation__list .navigation__item {
  padding: 10px;
}
.navigation .navigation__list .navigation__item a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.navigation .navigation__list .navigation__item a:hover {
  color: orange;
  font-style: italic;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border-bottom: 4px solid black;
}
.about .about__title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}
.about .about__image {
  width: 80%;
  border-radius: 12px;
}
.about .about__image:hover {
  box-shadow: 20px 20px 10px;
}
.about .about__list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about__list li {
  padding: 8px;
}
.about .about__list li p {
  font-family: "Roboto";
}
.about .about__list li p::before {
  content: "🌑 ";
  padding-right: 25px;
}
.about .about__list li a {
  text-decoration: none;
  color: orange;
}
.about .about__list li a:hover {
  fill: 1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: orange;
}
.gallery .gallery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 250px;
  margin: 20px;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.gallery .gallery__item h2 {
  background-color: rgba(20, 20, 20, 0.483);
  color: white;
  border-radius: 13px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.gallery .gallery__item--1 {
  background-image: url("https://m.media-amazon.com/images/I/51pPOQbrk3L._SX342_.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .gallery__item--2 {
  background-image: url("https://elenanofriki.com/20730-medium_default/poster-star-wars-new-hope-special-edition-.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
.gallery .gallery__item--3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/91eOgodm4nL.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .gallery__item--4 {
  background-image: url("https://cdn.shopify.com/s/files/1/0057/3728/3618/products/f38cb38707f05dc86f483b07c215c7dd_a1fb33f9-f075-438f-bc49-2e8c2a2e2d02_480x.progressive.jpg?v=1573653657");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Load google's Roboto font*/
/* Reboot */
html,
body {
  margin: 0 !important;
}

/* Typography */
body {
  font-family: "Roboto", "Helvetica Neue, Helvetica, Arial";
}

/*Convertion Ration sp to rem for html */
.base-h1 {
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: -0.0009765625px;
}

.base-h2 {
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: -0.0005208333px;
}

.base-h3 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0px;
}

.base-h4 {
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.0004595588px;
}

.base-h5 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

.base-h6 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.00046875px;
}

.base-subtitle1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.0005859375px;
}

.base-subtitle2 {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.0004464286px;
}

.base-body1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.001953125px;
}

.base-body2 {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.0011160714px;
}

.base-button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.0033482143px;
  text-transform: uppercase;
}

.base-caption {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.0020833333px;
}

.base-overline {
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.009375px;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}/*# sourceMappingURL=main.css.map */